{% schema %}
{
  "name": "section-01",
  "settings": [],
  "presets": [
    {
      "name": "section-01",
      "settings": {}
    }
  ]
}
{% endschema %}

<h1>Hola Mundo</h1>

{% comment %}
  "tag": "section",
  "class": "",
{% endcomment %}
